    </div>
    <footer class="footer <%= locals.user && locals.user.isAdmin ? 'admin-footer' : '' %>">
        <p>&copy; SFECC @2025. All rights reserved.</p>
    </footer>
    <script src="/js/main.js"></script>
    
    <!-- GLightbox JS for lightbox functionality -->
    <script src="https://cdn.jsdelivr.net/npm/glightbox/dist/js/glightbox.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        // Initialize GLightbox for images with class 'glightbox'
        const lightbox = GLightbox({
            selector: '.glightbox',
            touchNavigation: true,
            loop: true,
            autoplayVideos: false
        });

        document.querySelector('.menu-toggle').addEventListener('click', function() {
            document.querySelector('.nav-links').classList.toggle('active');
        });

        // Close menu when clicking outside
        document.addEventListener('click', function(event) {
            const navLinks = document.querySelector('.nav-links');
            const menuToggle = document.querySelector('.menu-toggle');
            
            if (!navLinks.contains(event.target) && !menuToggle.contains(event.target)) {
                navLinks.classList.remove('active');
            }
        });
    </script>
</body>
</html>
