<%- include('./partials/header') %>

<div class="about-container">
    <h1>About Us</h1>
    
    <div class="about-content">
        <section class="mission">
            <h2>Society for Forest, Environment, and Climate Change</h2>
            <p>Aranya Parisara mathu Havamana Badalavane Sangha (R) (Society for Forest, Environment, and Climate Change) is a registered association under the Karnataka Registration of Societies Act, 1960, committed to addressing pressing environmental challenges. Our primary focus is on taking up legal issues related to environmental violations committed by various entities, ensuring accountability and justice for the protection of nature.

                Our team comprises dedicated individuals from diverse backgrounds, united by a shared mission to safeguard our planet. With the Earth’s future under threat due to escalating environmental violations, we strive tirelessly to preserve its natural beauty and resources for generations to come.
                
                Join us in building a sustainable future and making our Earth a better place for all.</p>
        </section>

        <section class="history">
            <h2>ONGOING MATTERS </h2>
            <p>

                1. Implementation of Green Highways Policy 2015<br>
                2. Illegal Sand Mining<br>
                3. Solid Waste management<br>
                4. Pollution of the Agnitheerta - Sowparnika River at Kollur Mookambika Temple<br>
                5. Destruction of the ecosystem by Kharland projects<br>
                6. Challenging the CZMP map under CRZ 2019 notification<br>
                7. Elevated Highway<br>
                8. Climate emergency<br>
                9. Netravathi Riverfront Promenade Project</p>
        </section>

        <section class="objectives">
            <a href="/membership"><h3 style="color: blue;">Join Us in Protecting the Environment</h3></a>
            
        </section>
    </div>
</div>

<%- include('./partials/footer') %> 