<%- include('./partials/header') %>

<div class="payment-container">
    <h1>Make a Payment</h1>
    
    <div class="payment-content">
        <section class="qr-payment-section">
            <h2>Scan to Pay</h2>
            <p>Use any UPI app to scan and make payment</p>
                    <img src="/uploads/image.png" alt="Payment QR Code" class="qr-code">
        </section>

       
    </div>
</div>

<%- include('./partials/footer') %> 
